.header {
	font: "Courier", monospace;
	color: white;
	font-size: 1.5rem;
	text-align: left;
	padding: 15px 10px 15px 20px;
	background-color: rgb(112, 155, 208);
	box-sizing: border-box;
}

.header-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-logo {
	height: 32px;
	width: 32px;
	margin-right: 15px;
}

.header-title {
	font: "Courier", monospace;
	margin: 0;
	color: white;
	font-size: 1.5rem;
	font-weight: bold;
	box-sizing: border-box;
	transition: color 0.2s;
}

.header-title:hover {
	color: #dddddd;
}

.header-title:hover .header-title-duo {
	color: #ddbd6c;
}

.header-title-duo {
	color: #ffdf8e;
	transition: color 0.2s;
}

.header-info {
	font: "Courier", monospace;
	font-size: 1rem;
	color: rgb(112, 155, 208);
	margin-right: 20px;
	border: #ffffff 1px solid;
	background-color: #ffffff;
	border-radius: 100px;
	padding-left: 8.5px;
	padding-right: 8.5px;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.2s;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-info:hover {
	background-color: #e8f0fe;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
