.chat-box {
	display: flex;
	flex-direction: column;

	border: 4px solid #000000;
	width: 100%;
	height: 100%;
    aspect-ratio: 1;
	border-radius: 3px;
}

.chat-log {
	height: 100%;
	overflow-y: auto;
	border: 1px solid #7c7c7c;
	padding: 5px;
	margin: 10px;
	display: flex;
	flex-direction: column;
	border-radius: 3px;
}

.chat-log div {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.chat-log .message {
	flex: 1;
	text-align: left;
	margin-left: 10px;
}

.chat-log .time {
	font-size: 0.8rem;
	color: #888;
	margin-left: 10px;
	text-align: right;
	white-space: nowrap;
}

.chatInput {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	display: flex;
	border-radius: 3px;
}


.chatInput input {
	flex: 1;
	padding: 5px;
	border: 1px solid #7c7c7c;
	border-radius: 3px;
	background-color: #e7e7e7;
}

.players-section {
	border-radius: 3px;
	padding: 10px;
}

.clientInfo {
	font: "Courier", monospace;
	margin: 0;
	font-size: 1rem;
	font-weight: bold;
}

.playerHeader {
	font: "Courier", monospace;
	margin: 0;
	font-size: 1rem;
	font-weight: bold;
}

.playerList {
	margin-bottom: 10px;
}

.playerList ul {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(100px, 160px));
	padding: 0px;
	margin-top: 5px;
	font-size: 0.8rem;
	list-style: none;
}

.playerList li {
	background: #f5f5f5;
	border-radius: 3px;
	border: 1px solid #e0e0e0;
	text-align: center;
	margin-right: 10px;
}

.chat-container {
	display: flex;
	flex-direction: column;
	margin: 0 20px;
    aspect-ratio: 1.1;
}

@media (max-width: 400px) {
	.chat-container {
		display: none;
	}
}

