.loading-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 20%;
}

.loading-message {
	font: "Courier", monospace;
	margin-top: 15px;
	font-size: 1rem;
	color: #777777;
}

.loading-spinner {
	width: 60px;
	height: 60px;
	border: 5px solid rgba(112, 155, 208, 0.3);
	border-radius: 50%;
	border-top-color: rgb(112, 155, 208);
	animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

.container {
	max-width: 70%;
	margin: 0 auto;
	padding: 20px;
}


.puzzle-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 20px;
}

.puzzle-card {
	background-color: #efefef;
	border-radius: 3px;
	padding: 20px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition:
		transform 0.2s,
		box-shadow 0.2s;
}

.puzzle-card:hover {
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	background-color: #e8f0fe;
}

.puzzle-card h3 {
	margin-top: 0;
	margin-bottom: 15px;
	color: black;
}

.puzzle-meta {
	display: flex;
	justify-content: space-between;
}

.status {
    background-color: #e8f5e9;
    color: #388e3c;
	padding: 3px 8px;
	border-radius: 3px;
	font-size: 0.8rem;
}

.difficulty {
	background-color: #efefef;
	color: #0288d1;
    padding: 3px 8px;
    border-radius: 3px;
    font-size: 0.8rem;
}

.filter-container {
    margin: 0 auto;
	display: flex;
    padding: 20px 20px 0 20px;
    max-width: 70%;
    justify-content: space-between;
}

.filter-options {
    margin-top: 10px;
}

.filter-difficulty-button {
	font: "Courier", monospace;
    background-color: #f5f5f5;
    color: black;
	font-size: 1rem;

	padding: 10px;
	border-radius: 3px;
	margin-right: 20px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition:
		transform 0.2s,
		box-shadow 0.2s;
}

.filter-difficulty-undo-button {
    font: "Courier", monospace;
    background-color: #f5f5f5;
    color: black;
    font-size: 1rem;

    padding: 10px;
    border-radius: 3px;
    margin-left: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition:
            transform 0.2s,
            box-shadow 0.2s;
}

.filter-difficulty-undo-button:hover, .filter-difficulty-button:hover {
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	background-color: #e8f0fe;
}

.filter-search {
    margin: 0 20px 0 0;
    width: 100%;
}

.filter-search input {
	padding: 10px;
	border: 1px solid #cccccc;
	border-radius: 3px;
	font-size: 1rem;
	width: 100%;
	background-color: #f9f9f9;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.filter-search input::placeholder {
	color: #aaaaaa;
}

@media (max-width: 400px) {
    .puzzle-card {
        max-width: 100%;
    }

    .filter-difficulty-button {
        margin-right: 5px;
    }

    .filter-container {
        max-width: 100%;
        padding-top: 10px;
    }

    .filter-search {
        margin: 0 5px 0 0;
    }

    .container {
        padding-top:10px;
        max-width: 90%;
    }
}