.solved-popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
}

.solved-popup-content {
	color: #000000;
	background-color: white;
	padding: 20px;
	border-radius: 3px;
	max-width: 80%;
	overflow-y: auto;
	position: relative;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Add these new styles to match the info popup */
.solved-popup-content .close-solved {
	color: #000;
	position: absolute;
	top: 12px;
	right: 23px;
	font-size: 2rem;
	font-weight: bold;
	cursor: pointer;
}

.solved-popup-content .close-solved:hover {
	color: #555555;
}

.solved-title {
	font: "Courier", monospace;
	color: black;
	font-size: 1.5rem;
	text-align: left;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 15px;
}

.solved-text {
	font: "Courier", monospace;
	color: black;
	font-size: 1rem;
	text-align: left;
	margin-bottom: 10px;
}
