/* -------------------- Base Styles -------------------- */
body {
	margin: 0;
	padding: 0;
	font-family:
		-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}

/* -------------------- Layout Structure -------------------- */
.app-container {
	display: grid;
	grid-template-columns: .5fr 1fr 1fr;
	justify-content: center;
}

.sudoku-title {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	color: black;
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
	margin: 5px;
}

/* Mobile layout */
@media (max-width: 400px) {
	.app-container {
        grid-template-columns: 1fr;
	}

    .sudoku-container {
        order: -1;
        box-sizing: border-box;
    }

    .cell {
        width: 40px;
        height: 40px;
    }

    .cell-value {
        font-size: 1.3rem;
    }

    .candidate {
        font-size: .25rem;
    }

    .filter-container {
        
    }

}
