/* -------------------- Base Styles -------------------- */
body {
	margin: 0;
	padding: 0;
	font-family:
		-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}

/* -------------------- Layout Structure -------------------- */
.app-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: center;
}

.sudoku-title {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	color: black;
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
	margin: 5px;
}

/* -------------------- Responsive Styles -------------------- */
@media (max-width: 900px) {
	.app-container {
		flex-direction: column; /* Switch to vertical layout */
		align-items: center; /* Center align items */
	}

	.cell,
	.non-editable-cell {
		width: 17px;
		height: 25px;

		text-align: center;
		border: 1px solid #7c7c7c;
		font-size: 1.1rem;
		outline: none;
		border-radius: 0;
	}

	.right-section {
		margin-top: 10px;
		padding-left: 35px;
		padding-right: 35px;
	}

	.controls-container {
		margin-top: 39px;
	}
}
/* Mobile layout */
@media (max-width: 400px) {
	.app-container {
		flex-direction: column; /* Switch to vertical layout */
		align-items: center; /* Center align items */
	}

	.left-section {
		flex-direction: column; /* Stack controls and sudoku vertically */
		margin-left: 0px;
	}

	.right-section {
		margin: 0px;
		margin-top: 10px;
		width: 100%;
		padding-left: 25px;
		padding-right: 25px;
	}

	.controls-container {
		width: 100%;
		order: 2;
		margin: 0px;
		margin-top: 10px;
	}

	.chatBox {
		width: 100%;
	}

	.chatLog {
		height: 100px;
	}

	.cell,
	.non-editable-cell {
		width: 17px;
		height: 25px;

		text-align: center;
		border: 1px solid #7c7c7c;
		font-size: 1.1rem;
		outline: none;
		border-radius: 0;
	}

	.sudokuTitle {
		text-align: center;
		margin-left: 0px;
	}

	.popup-content {
		max-width: 75%;
	}

	.filter-container {
		justify-content: left;
		margin-left: 20px;
	}

	.filter-options {
		width: 100%;
	}

	.filter-difficulty-button {
		font-size: 0.7rem;
	}

	.filter-search input {
		font-size: 0.7rem;
	}

	.loading-container {
		padding-top: 50%;
	}

	.keypad {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(4, 1fr);

		max-width: 100%;
	}

	.keypad-button {
		font-size: 1rem;
		cursor: pointer;
		padding: 15px;
		text-align: center;
	}

	.keypad-backspace {
		grid-column: span 1;
		background-color: #ffebeb;
	}

	.clearBoardBtn,
	.checkSolutionBtn {
		font-size: 1rem;
		cursor: pointer;
		padding: 15px;
		text-align: center;
	}
}
